/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $tercer-color;
    padding: 10px; 
    .logo {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px 
        }
        span {
            color: $secondary-color }
        }
    nav ul {
     display: flex;
    li a {
         padding: 5px;
         color: $tercer-color;
         }
         i {
             color: red;
         }
        }
    .fa-bars {
        visibility: hidden;
    }
    }
    