/* Header */
@media screen and (max-width: 768px){
    nav {
        visibility: hidden;
        .fa-bars{
            visibility: visible;
            position: absolute;
            right: 30px;
        }
    
    }

}
/* Main */
@media screen and (max-width: 768px){
    .banner {
        p{
            text-align: center;
        }
    }
    .product__container {
        flex-direction: column;
        align-items: center;
        .cards {
            margin-top: 15px;
        }
    }
    .container__estrella {
        flex-direction: column;
        align-items: center;
        .producto__compu {
            margin-top: 15px;
        }
    }
}
/* Footer */
@media screen and (max-width: 768px) {
    .footer__medio {
        flex-direction: column;
        justify-content: center;
        }
    }

