footer {
    text-align: center;
    background-color: $colorDeLetra;
    .batman {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    a {
        margin: 7px;
    }

}