main {
    section { 
        line-height: 24px;
        margin: 0  auto;
        width: 70%; 
        h2 { 
            color: $colorDeLetra;
            background-color: $colorDeFondo;
            letter-spacing: 5px;
            text-transform: uppercase;
            padding: 5px
        }
        ul { 
            margin: 2px; 
        }
        dl {
            .numero {
                 font-weight: bold;
                 font-style: italic;
            }   
            span { 
                font-weight: bold;
                font-style: normal;
            }
         }
    }
}