/* Reglas Generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Fuentes Generales */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,700&display=swap');

/* body */
body {
    font-family: 'Roboto', sans-serif;
}
/* header */
header {
    color: white;
}

/* Primer Header*/
.primerHeader {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primerHeader p {
    margin-left: 90px;
    padding: 5px;
}

.primerHeader select {
    margin-right: 25px ;
}

.selects {
    padding: 10px;
}
.selects>select {
    padding: 2px;
    border-radius: 5px;
    background-color: #F0A83E;
    color: black;

}
/*Barra de navegacion*/

.segundoHeader {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.segundoHeader span {
    color:#3C2313;
}
.segundoHeader h1 {
    margin-left: 40px;
}

.segundoHeader nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.segundoHeader nav ul li {
    margin: 15px;
    list-style: none;
}
.segundoHeader nav ul li a {
    text-decoration: none;
    color: white;
}
.segundoHeader nav ul li a:hover {
    color: black
}
.segundoHeader nav ul li a:active {
    color: brown;
}
/* Primera Parte Main*/

.mainbanner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    background-image: url(../img/foto.png);
    background-size: cover;
    height: 600px;
    width: 100%;
 
}

.mainbanner h2 {
    background-color: white;
    color: black;
    margin-right: 45px;
    padding: 10px;
    font-size: 30px;
    font-weight: 200;
}

.CED {
    margin-right: 125px;
    margin-top: 30px;
}

.com {
    background-color: #F0A83E;
    color: white;
    padding: 15px;
    margin-right: 163px;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
/* Seccion Productos Destacados */

.productosdestacados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productosdestacados img {
    margin-top: 10px;
}

.productosdestacados h2 {
    font-weight: 700; 
    font-size: 65px;
    margin: 15px;
}

.productosdestacados ul {
    display: flex;
    justify-content: space-between;
    
}

.productosdestacados ul li {
    color: #F0A83E;
    list-style: none;
    margin: 10px;
}

/*Seccion Cartas*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta {
    margin: 10px;
    border-color: black;
    border: 1px solid; 
}

.carta h3 {
text-align: center;
margin-top: 5px;
margin-bottom: 10px;
font-size: 15px;
color: rgba(60, 35, 19, 1);
font-weight: 700;

}

.carta p {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 8px;
    color: #F0A83E;
}

/* Parte de contacto*/

.form_contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.input_contacto {
    background-color: #3C2313;
    padding: 15px;
    margin: 10px 30px 10px 30px;
    width: 300px;
    border-radius: 25px;
    border: rgba(60, 35, 19, 1);
    
}

.boton2_contacto {
    background-color: #8A8787;
    color: black;
    width: 75px;
    height: 35px;
    text-align: center;
    border: 1px ;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;

}
.boton2_contacto:hover {
    background-color: red;
}
.boton1_contacto {
    background-color:#F0A83E ;
    color: black;
    width: 75px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    border: 1px ;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 70px;

}
.boton1_contacto:hover {
    background-color: green;

}
/*Footer*/

.suscribite {
    display: flex;
    justify-content: space-around;
    background-color: #F0A83E;
    align-items: center;
    height: 60px;
    border: none;
}

.suscribite i {
    color: white;
    letter-spacing: 1px;
    margin-right: 25%;
    
}

.input_correo {
        background-color: white;
        padding: 13px;
        width: 250px;
        border-radius: 10px;
        border: 1px;
        
}
.input_correo::placeholder {
    color: #3C2313;
    text-align: justify;
}
.boton3_contacto {
    background-color:#3C2313 ;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px;
    margin-left: 15px;
}
.boton3_contacto:hover {
    background-color: indianred;
    
}
.footermedio {
    background-color:#3C2313;
    display: flex;
    flex-direction: column;
}

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px

}

.logochico  {
    position: relative;
    font-size: 23px;
    font-weight: 700;
    margin-right: 70px;
}

.logochico>h3 {
   position: absolute;
   right: 40px;
   bottom: 130px;
}

.parte {
    margin-top: 5px;
    display: flex;
    height: 80px;
    margin-left: 70px;
    padding: 5px;
    color: white;
    text-align: center;
}
.footerbajo {
    color: white;
    text-align: center;
    padding: 5px;
    background-color: rgba(34, 34, 34, 1);
}